<div class="_relative">
  <app-header
    [quantity]="cartList.movies?.length || 0"
    (isActivateModal)="activateModal($event)"
    (movieSearch)="fetchData($event)"></app-header>
  <div class="container">
  <app-list
    [movies]="movies"
    (movieData)="addToCart($event)">
  </app-list>
  </div>
  <app-modal
    *ngIf="isActivateModal"
    [cartList]="cartList"
    [quantity]="cartList.movies?.length || 0"
    class="_absolute-modal"
    (onClear)="clearCart()"
    (isActivatePaymentModal)="activatePaymentModal($event)"
    (isActivateModal)="activateModal($event)">
  </app-modal>
  <app-payment-modal
    *ngIf="isActivatePaymentModal"
    class="_absolute-modal"
    (isSuccessPayment)="paymentSuccess($event)"
    (isActivatePaymentModal)="activatePaymentModal($event)">
  </app-payment-modal>
</div>